.wrapper {
    margin: auto;
    width: 80%;
    /* text-align: center; */

    /* ANIMATION */
    animation-name: appear;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    opacity: 0;
    position: relative;
    top: 10px;
}

@keyframes appear{
    0%{
        opacity: 0;
        top: 10px;
    }
    100%{
        opacity: 1;
        top: 0px;
    }
}

body {
    background-color: #f1f1f1;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    color: #4183c4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header h1 {
    /* width: 800px; */
    text-align: center;
    margin-top: 20px;
    /* position:relative;
    left: 100px; */
    letter-spacing: 5px;
    /* line-height: 60px; */
    font-size: 80px;
    /* font-weight: 100; */
    /* margin: 0px 0 50px 0; */
    text-shadow: 0 1px 0 #fff;

    /* ANIMATIONS */
    animation-name: show-off, spinner;
    animation-fill-mode: forwards;
    animation-duration: 1s, 1.3s;
    animation-delay: .5s, 2s;
    animation-iteration-count: 1, infinite;

    /* TRANSITION */
    /* transition-property: all;
    transition-duration: 1s; */

}

@keyframes show-off{
    0%{
        font-size: 80px;
    }
    50%{
        font-size: 130px;
    }
    100%{
        font-size: 80px;
    }
}

@keyframes spinner{
    100%{
        transform: rotateZ(360deg);
    }
}

/* header h1:hover{
    transform: rotateZ(360deg);
} */

p {
    color: rgba(0, 0, 0, 0.5);
    margin: 20px 0;
    line-height: 1.6;
    text-align: center;

    /* TRANSITION */
    transition-property: all;
    transition-duration: 1s;
}

p:hover{
    transform: scale(1.8, 1.8);
}

/* ul {
    list-style: none;
    margin: 25px 0;
    padding: 0;
}

li {
    display: table-cell;
    font-weight: bold;
    width: 1%;
} */

/* #menu {
    margin-top: 35px;
    color: #ccc;
}

#menu a {
    color: #666666;
    font-weight: 200;
    font-size: 14px;
    margin: 0 10px;
} */

#refs{
    margin-top: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    /* justify-items: center; */
    text-align: center;
}

#refs img{
    width: 10%;
    height: 5%;
}